*{
	margin: 0;
	padding: 0;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #fa7ffa, #97e6fa);
	background-size: 1000em;
	animation-name: gradient;
    animation-duration: 30s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
	overflow:scroll;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-auto-rows: 100%;
}

nav ul li a{
    text-decoration: none;
	color: white;
}

.container{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 20%;
    margin-left: 1%;
    margin-right: 1%;
}

nav{
	background-color: white;
	border-bottom: solid 2px black;
    width: 100%;
	height: 150px;
    padding-top: 20px;
    top: 0;
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: 1;
}

nav ul{
	margin-top: 2%;
	margin-left: 5%;
}

nav ul li{
    display: inline-block;
    width: 20%;
	margin-left: 2%;
    height: auto;
    text-align: center;
	background-color: blueviolet;
	border: solid 3px black;
	border-radius: 7px;
}

nav ul li a{
	display: block;
    text-decoration: none;
    padding: 5px;
	color: white;
    font-size: 2vh;
}

.logo2{
	margin-left: 25.5%;
	max-width: 70%;
    height: auto;
}

.banner{
    width: 100%;
    height: auto;
    position: sticky;
    top: 0;
    z-index: 3;
}

details{
    display: block;
}

h1{
    text-align: center;
    text-decoration: underline;
    padding-bottom: 5px;
    color: blueviolet;
}

p{
    margin-bottom: 10px;
}

.bold{
    font-weight: bold;
    margin-bottom: 0px;
}

.serviceText{
    margin: 5px;
    margin-top: 30px;
    background-color: white;
    border: solid 2px black;
    padding: 5px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media only screen and (max-width:1800px){
    .container{
        margin-top: 20%;
    }
}

@media only screen and (max-width:1600px){
    body{
        overflow: scroll;
    }

    .container{
        margin-top: 22%;
    }

    .logo2{
        margin-left: 10%;
    }
}

@media only screen and (max-width:1400px){
    nav ul li a{
        display: block;
        margin-left: 1%;
    }

    .container{
        margin-top: 30%;
    }

    .header h2{
        font-size: 15px;
    }
}

@media only screen and (max-width:1000px){
    body{
        display: block; 
    }

    .banner{
        display: none;
    }
    
    .logo2{
        padding-left: 0;
    }

    nav ul{
        margin-top: 1%;
    }

    nav ul li a{
        padding: 3px;
        font-size: 13px;
        margin-left: 1%;
    }

    .logo2{
        margin-left: 20%;
    }

    .container{
        margin-top: -0.5%;
    }
}

@media only screen and (max-width:700px){
    nav{
        height: 120px;
    }

    .logo2{
        margin-left: 15%;
    }

    nav ul li{
        margin-left: 0.5%;
    }
}